//
   Created by aborn on 2/2/15.

script(src="/bootstrap/js/jquery.min.js")
script(src="/bootswatch/bootstrap.min.js")
div(class="footer")
    div(class="footer-container")
        p(class="text-muted") ©2015-2015 popkit.org, All Rights Reserved. 沪ICP备15004790号.
        p(class="text-muted") Powered by node.js

